* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  :root {
    --primary: #2A7AE4;
    --black: #000000;
    --blackLighter: #9E9E9E;
    --grayLight: #F5F5F5;
    --grayMedium: #e5e5e5; 
    --white: #FFFFFF;
    --frontEnd: #6BD1FF;
    --backEnd: #00C86F;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: inherit;
  } 
  ::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #006400; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}